.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 15px;
  border-bottom: 1px solid #e0e0e0;
}

.logo-group {
  display: flex;
  align-items: center;
  gap: 4px;
}

.freerooms-logo {
  width: 50px;
  cursor: pointer;
}

.nav-title {
  color: #ef7021;
  font-size: 2rem;
  letter-spacing: 2px;
}

.nav-actions {
  display: flex;
  gap: 15px;
}

.nav-btn {
  width: 45px; /* Slightly smaller to match the spec better */
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: 2px solid #fdebe0;
  border-radius: 8px;
  cursor: pointer;
}

.nav-btn.active {
  background-color: #ef7021;
  border-color: #ef7021;
}

.nav-btn img {
  width: 25px;
}

.nav-btn.active img {
  filter: brightness(0) invert(1);
}