.search-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 15px;
  gap: 20px;
}

.search-box {
  display: flex;
  align-items: center;
  flex-grow: 1;          
  max-width: 900px;    
  height: 45px;
  border: 2px solid #e0e0e0;
  border-radius: 8px;
  padding: 0 10px;
}

.search-box input {
  border: none;
  outline: none;
  width: 100%;
  padding-left: 10px;
  color: #666;
  font-size: 1rem;
}

.action-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 45px;
  max-width: 150px;
  padding: 0 30px;
  background: white;
  border: 3px solid #ef7021; 
  border-radius: 8px;
  color: #ef7021;
  font-weight: 500;
  cursor: pointer;
}

.action-btn span {
  font-size: 1rem;
  font-weight: bold;
}

.search-icon-inside {
  flex-shrink: 0;
  filter: invert(68%) sepia(8%) saturate(9%) hue-rotate(334deg) brightness(85%) contrast(84%);
}