.main-container {
  width: 100%;
  min-height: 100vh;
  background-color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  border-bottom: 1px solid #e0e0e0;
}

.logo-group {
  display: flex;
  align-items: center;
  gap: 7px;
}

.freerooms-logo {
  width: 50px;
}

.nav-title {
  color: #ef7021;
  font-size: 2rem;
  letter-spacing: 2px;
}

.nav-actions {
  display: flex;
  gap: 15px;
}

.nav-btn {
  width: 45px; /* Slightly smaller to match the spec better */
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: 2px solid #fdebe0;
  border-radius: 8px;
  cursor: pointer;
}

.nav-btn.active {
  background-color: #ef7021;
  border-color: #ef7021;
}

.nav-btn img {
  width: 25px;
}

.icon {
  filter: invert(44%) sepia(91%) saturate(706%) hue-rotate(348deg) brightness(99%) contrast(89%);
}

.nav-btn.active img {
  filter: brightness(0) invert(1);
}

.controlbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 15px;
  gap: 20px;
}

.search-box {
  display: flex;
  align-items: center;
  flex-grow: 1;          
  max-width: 900px;    
  height: 45px;
  border: 2px solid #e0e0e0;
  border-radius: 8px;
  padding: 0 10px;
}

.search-box input {
  border: none;
  outline: none;
  width: 100%;
  padding-left: 10px;
  color: #666;
  font-size: 15px;
}

.action-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 45px;
  max-width: 150px;
  padding: 0 30px;
  background: white;
  border: 3px solid #ef7021; 
  border-radius: 8px;
  color: #ef7021;
  font-weight: 500;
  cursor: pointer;
}

.action-btn span {
  font-size: 15px;
  font-weight: bold;
}

.search-icon-inside {
  flex-shrink: 0;
  filter: invert(68%) sepia(8%) saturate(9%) hue-rotate(334deg) brightness(85%) contrast(84%);
}

.action-btn text {
  font-size: 16px;
  font-weight: bold;
}

.buildings-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px; 
  
  padding: 20px 15px; 
}
